
@keyframes fade-in
	0%
		opacity 0
	100%
		opacity 1


@keyframes fade-in-transparent
	0%
		opacity 0
	100%
		opacity .8


@keyframes fade-out
	0%
		opacity 1
	100%
		opacity 0


@keyframes showY
	0%
		transform scale3d(1, 1, 1)
	100%
		transform scale3d(1, 0, 1)


@keyframes hideY
	0%
		transform scale3d(1, 0, 1)
	100%
		transform scale3d(1, 1, 1)


@keyframes drop-text-shadow
	0%
		text-shadow 0px 0px 0px #111
	100%
		text-shadow -9px 10px 0px #111